@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background: linear-gradient(
    90deg,
    #3edbf0 0%,
    #77acf1 100%
  );
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
   // background: #161a2b;
    background: #0a043c;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

.container h1{
  font-size: xx-large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 15px solid #c0fefc;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
  display: inline-block;
}

.todoAdd {
  border: 2px solid #3edbf0;
}

.btnAgregar {
  padding: 3px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #3edbf0 0%,
    #77acf1 100%
  );
  color: #fff;
  text-transform: capitalize;
}



.secondBG{
    width: 850px;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 25px;

}

li{
    list-style-type: none;

}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}